@import "reset";

$bg-main: #ffffff;
$primary-text: #000000;
$primary-color-1: #80bbd9;
$primary-color-2: #095175;
$primary-color-3: #7c602d;
$header-font: "Helvetica Neue";
$main-font: "Garamond";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container-main {
    width: 100%;
    min-height: 200px;
    margin: 0 auto;
}

/////////////// Page Styles  ///////////////

h1, h3, h5, h6, nav {
    font-family: $header-font;
    font-weight: 100;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
    font-style: italic;
}

h3 {
    font-size: 40px;
}

p, li {
    font-family: $header-font;
    font-size: 18px;
    line-height: 1.7;
}

/////////////// Header ////////////////////

.bg-head {
    background-color: #989898;
    background-size: cover;
    min-height: 300px;
}

nav {
    position: relative;
    top: 20px;
    right: 20px;
    float: right;
    li {
        display: none;
        margin-left: 30px;
    }
    span {
        font-size: 50px;
    }
}

.logo {
    position: relative;
    top: 20px;
    left: 20px;
    float: left;
    background-color: #787878;
    width: 50px;
    height: 50px;
}

/////////////  Portfolio   ////////////////

.work {
    div {
        width: 100%;
        min-height: 100px;
        border: 1px solid;
        float: left;
    }
}

//////////////  Skills ///////////////
.skills {
    min-height: 600px;
    background-color: #c0c0c0;
    clear: both;
    padding-top: 30px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.skillset-left, .skillset-right {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    li {
        font-family: $header-font;
        font-weight: 100;
    }
    img {
        margin-bottom: 20px;
        border-radius: 50%;
    }
}

//////////////// Journal //////////////

.journal {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 10px;
    }
    div {
        margin-bottom: 20px;
    }
}





//////////// What I'm Doing //////////////
.connect-bg {
    clear: both;
    width: 100%;
    background-color: #d8d8d8;
}
.connect {
    
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    min-height: 400px;
    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .side-proj1, .side-proj2, .side-proj3 {
        width: 90%;
        max-width: 300px;
        min-height: 200px;
        background: #989898;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    p {
        clear: both;
        font-weight: 100;
        text-align: center;
    }
}

//////////////// Footer /////////////////

footer {
    width: 100%;
    background-color: #989898;
    .main-footer {
        width: 80%;
        min-height: 200px;
        margin: 0 auto;
        padding-top: 20px;
        img {
            float: left;
        }
        ul {
            float: right;
            padding-right: 20px;
            a {
                font-family: $header-font;
            }
        }
    }
}

//////////////// Media Queries ///////////

@media screen and (min-width: 480px) {
    .bg-head {
        min-height: 400px;
    }
    nav {
        width:30%;
        float: right;
        position: relative;
        top: 50px;
        margin-right: 5%;
        span {
            display: none;
        }
        li {
            display: inline-block;
            margin-left: 5%;
        }
    }
    .logo {
        position: relative;
        top: 30px;
        margin-left: 30px;
        float: left;
        background-color: #787878;
        width: 100px;
        height: 100px;
    }
    .work {
        div {
            width: 50%;
            min-height: 100px;
            border: 1px solid $primary-text;
            float: left;
        }
    }
    .skills {
        h1{
            margin-bottom: 40px;
        }
        .skillset-left, .skillset-right {
        width: 50%;
        float: left;
        margin: 0 auto;
        }
    }
////// Journal //////
.post1 {
    width: 45%;
    float: left;
}
.post2 {
    width: 45%;
    float: right;
}
.post3 {
    display: none;
}

///////// What I'm Doing ////////

.side-proj1 {
    width: 40%;
    float: left;
}
.side-proj2 {
    width: 40%;
    float: right;
}
.side-proj3 {
    clear: both;
    width: 100%;
    max-width: 700px;

}


}// media tag

@media screen and (min-width: 980px) {

//// header /////

.logo {
    width:200px;
    height:100px;
}
nav {
    width: 20%;
}
.bg-head {
    min-height: 500px;
}
.work {
    div {
        min-height: 200px;
    }
}

.main-footer {
    max-width: 70%;
}

////////////  Journal   /////////

.post1 {
    width: 30%;
    float: left;
    margin-right: 3.3333%
}
.post2 {
    width: 30%;
    float: left;
    margin-right: 3.3333%;
}
.post3 {
    display: block;
    width: 30%;
    float:left;
    margin-right: 3.3333%
}

///// What I'm Doing /////



.side-proj1 {
    width: 30%;
    float: left;
    margin-right: 3.3333%;
    max-width: 500px;

}
.side-proj2 {
    width: 30%;
    float: left;
    margin-right: 3.3333%;
    max-width: 500px;
}
.side-proj3 {
    clear: none;
    width: 30%;
    float: left;
    margin-right: 3.3333%;
    max-width: 500px;
    
}





}//mediatag