@import "reset";



$bg-main: #ffffff;
$primary-text: #000000;
$primary-color-1: #80bbd9;
$primary-color-2: #095175;
$primary-color-3: #7c602d;
$header-font: "proxima-nova";
$main-font: "Garamond";
$design-font: "elina-web-decor";
$code-font: "jaf-mashine-rounded";


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



@mixin box-shadow {
    -webkit-box-shadow: -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
box-shadow:         -1px 0px 6px 0px rgba(50, 50, 50, 0.75);
}





html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container-main {
    width: 100%;
    max-width: 1300px;
    min-height: 200px;
    margin: 0 auto;
}

/////////////// Page Styles  ///////////////

h1, h3, h5, h6 {
    font-family: $header-font;
    font-weight: 100;
}

h1 {
    font-size: 3.75em;
}

h2 {
    font-size: 2.5em;
    font-style: italic;
}

h3 {
    font-size: 2.5em;
}

p, li {
    font-family: $header-font;
    font-size: 1.125em;
    line-height: 1.7;
}

/////////////// Header ////////////////////

.bg-head {

    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75)) fixed, url(../images/trees.jpeg) fixed; 
    background-size: cover;
    width: 100%;
    
    min-height: 300px;
}

.myname {
    font-family: "aw-conqueror-carved",sans-serif;
    font-size: 5.6em;
    text-align: center;
    margin: 0 auto;
    margin-top: -25px;
    line-height: 1;
    span {
        color: white;
    }
    // position: absolute;
    // top: -25px;
    // left: 300px;
}



.main-nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 54px;
    background-color: rgba(0,0,0,0.8);
    img {
        float: left;
        width: 50px;
        margin: 5px;
        &:hover {
            opacity: 0.8;
        }
    }
    ul {
        text-align: right;
        padding: 16px;
    }
    li {
        display: inline-block;
        a {
            margin-left: 14px;
            display: inline-block;
            font-size: 18px;
            font-weight: 300;
            color: white;
            text-decoration: none;
            &:hover {
                color: $primary-color-1;

            }
        }
    }
    
}
.nav-toggle{
    width: 40px;
    height: 40px;
    background-image: url('../images/hamburger.png');
    background-size: cover;
    float:right;
    margin-right: 5px;
    margin-top: 5px;
    }
.show-nav {
    display: block;
}

.down-arrow {
    font-size: 200px;
    color: white;
    text-align: center;
    position: relative;
    line-height: 1;
}


.logo {
    margin-left: 20px;
    float: left;
    background-color: #787878;
    width: 50px;
    height: 50px;
}

.welcome1 {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    font-size: 20px;
    a {
        color: $primary-color-1;
        text-decoration: none;
        &:hover {
            color: $primary-color-2;
        }
    }

}

    .about-me {
        p {
        
        
        color: white;
        width: 80%;
        margin: 0 auto;
        padding-top: 80px;
        text-shadow: 1px 1px 1px #000;
        a {
            color: white;
            text-decoration: none;
            border-bottom: 2px dotted $primary-color-1;
        }
        }   
    }

.alt-welcome {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    background-color: $primary-color-1;
    p {
        width: 90%;
        max-width: 500px;
        font-family: $header-font;
        margin: 0 auto;
    }
}

/////////////  Portfolio   ////////////////

.project-button {
    
    font-size: 1.25em;
    font-family: $header-font;
    color: $primary-color-1;
    border: 2px solid $primary-color-1;
    transition-duration: 500ms;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    &:hover{
        background-color: $primary-color-1;
        color: white;

    } 
}

#united {
    
    min-height: 600px;
    background-color: #323a45;
    padding-left: 20px;
    // overflow: auto;
    


}
.united-description {
    width: 45%;
    display: inline-block;
    padding: 20px;
    p {
        padding-top: 250px;
        color:white;
    }

}
.united-img {
    width: 45%;
    float: right;
    display: inline-block;
    position: relative;
    img {
        width:600px;
        position: absolute;
        right: 0px;
        
    }
}

#crockett {
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.2)50%,rgba(0, 0, 0, 0.4)75%,rgba(0, 0, 0, 0.6)100%), url('../images/denistmockup.jpg') no-repeat fixed;
    background-size: cover;
    min-height: 600px;
}
.crockett-description {
    width: 40%;
    float: right;
    padding: 20px;
    padding-top: 200px;
    
    color:white;
}


.work {
    max-height: 400px;
    width: 100%;
    div {
        box-sizing: border-box;
        width: 100%;
        // min-height: 100px;
        // border: 1px solid black;
        float: left;
        a:hover {
            background-color: darken;
        }
    }
    a {
        width: 100%;
        max-height: 200px;
    }
    .project1 {
        background-image: url("../images/unitedshowcase.jpg");
        background-size: cover;
    }
    .project2 {
        background-image: url("../images/styleguide.png");
        background-size: cover;
    }
    .project3 {
        background-image: url("../images/dentistcrop.jpg");
        background-size: cover;
    }
    .project4 {
        background-image: url("../images/webdesignlogo.png");
        background-size: cover;
    }
    #overlay {
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        padding: 45px 0 66px 0;
        opacity: 1;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        span {
            font-size: 2em;
            font-weight: 100;
            font-family: $header-font;
            position: relative;
            top: 10px;
            color: white;
        }
    }
    div:hover #overlay {
        opacity: 0;
    }
}

//////////////  Skills ///////////////
.skills {
    min-height: 600px;
    background-color: $primary-color-1;
    clear: both;
    padding-top: 30px;
    padding-bottom: 30px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
}

.skillset-left, .skillset-right {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    li {
        font-family: $header-font;
        font-weight: 200;
    }
    .icon {
        margin: 0 auto;
        height: 200px;
        max-width: 200px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 50%;
        -webkit-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75);
    }
}

.skillset-left p {
    font-family: $code-font;
    padding-top: 65px;
    font-size: 45px;
}

.skillset-right p {
    font-family: $design-font;
    padding-top: 55px;
    font-size: 50px;
}
//////////////// About Me /////////////

.about-me {
    min-height: 600px;
        margin-bottom: 30px;
    background:linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0)50%,rgba(0, 0, 0, 0.6)100%) 50% 0 repeat fixed, url(../images/parker1.jpg) 50% 0 repeat fixed; 
    background-size: cover;
}








//////////////// Journal //////////////
.journal {
    padding: 20px 10%;
    width: 100%;
    margin: 0 auto;
    
    min-height: 100%;
    background: $primary-color-1;
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    h3 {
        margin-bottom: 10px;
    }
    div {
        margin-bottom: 20px;
    }
}

//////////// What I'm Doing //////////////
.connect-bg {
    clear: both;
    width: 100%;
    background-color: $primary-color-1;
    padding-bottom: 50px;
}

.connect {
    clear: both;
    width: 80%;
    margin: 0 auto;
    min-height: 400px;
    h1 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 30px;
        padding-top: 40px;
    }
    .side-proj1, .side-proj2, .side-proj3 {
        width: 90%;
        max-width: 300px;
        min-height: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    p {
        clear: both;
        font-weight: 200;
        font-size: 1em;
        text-align: center;
        a{
            color: $primary-color-2;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//////////////// Footer /////////////////
footer {
    width: 100%;
    background-color: $primary-color-2;
    min-height: 300px;
    overflow: auto;
    .main-footer {
        width: 80%;
        margin: 0 auto;
        padding-top: 50px;
        img {
            float: left;
            // width: 96px;
            // height: 56px;
       
        }
        .fun-section {
            display: none;
            ul {
                float: left;
                padding-left: 100px;
                li {
                    font-size: 16px;
                    font-weight: 300;
                    color: white;

                a {
                    color: $primary-color-1;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            }
        }
        .icons {
            ul {
                float: right;
                padding-right: 20px;
                padding-top: 20px;
                li {
                    display: inline-block;
                    a {
                        font-family: $header-font;
                        color: white;
                        &:hover {
                            color: darken(white, 15%);
                        }
                        img {
                            width: 32px;
                            height: 32px;
                        }
                    }
                }
            }
        }
        
        #github {
            width: 29px;
            height: 29px;
        }


        @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
            .ig-b-24 {
                background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
                background-size: 60px 178px;
            }
        }
    }
}

//////////////// Portfolio pages //////////

.info-left {
    width: 50%;
    height: 800px;
    background-color: $primary-color-1;
    float: left;
    padding: 30px;
    h1 {
        line-height: 1.5;
    }
    p {
        line-height: 2;
        padding: 10px;
        font-family: $header-font;
        font-weight: 200;
    }
    a {
        text-decoration: none;
        color: black;
        border-bottom: 1px dotted black;
    }
    ul {
        padding: 10px;
        li {
            font-family: $header-font;
            font-weight: 200;
        }
    }
}

.img-right {
    width: 50%;
    height: 800px;
    background-color: $primary-color-2;
    float: right;
    img {
        height: 30%;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 3px solid black;
        &:hover {
            transform: scale(1.2);
        }
    }
}
#resume {
    margin-top: 26px;
    a {
        margin: 0 auto;
        text-align: center;
        padding: 10px 20px;
        background-color: $primary-color-2;
        @include box-shadow;
        border: none;
        border-bottom: 2px solid darken($primary-color-2, 20%);
        font-size: 1em;
        color: white;
        text-decoration: none;
        
        @include border-radius(5px);
        &:active {
            border-bottom: none;
        }
        &:focus {
            outline:none;
        }
}
}
//////////////// Media Queries ///////////

@import "mediaquerymed";
@import "mediaquerylarge";


