html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container-main {
  width: 100%;
  max-width: 1300px;
  min-height: 200px;
  margin: 0 auto; }

h1, h3, h5, h6 {
  font-family: "Helvetica Neue";
  font-weight: 100; }

h1 {
  font-size: 3.75em; }

h2 {
  font-size: 2.5em;
  font-style: italic; }

h3 {
  font-size: 2.5em; }

p, li {
  font-family: "Helvetica Neue";
  font-size: 1.125em;
  line-height: 1.7; }

.bg-head {
  background-image: url("../images/parker.jpg");
  background-size: cover;
  min-height: 300px; }

.myname {
  font-family: "aw-conqueror-carved",sans-serif;
  font-size: 5.6em;
  text-align: center;
  margin: 0 auto;
  margin-top: -25px;
  line-height: 1; }
  .myname span {
    color: white; }

nav {
  width: 100%;
  font-weight: 200;
  position: relative;
  z-index: 2; }
  nav li {
    display: none; }
    nav li a {
      font-weight: 200;
      color: black;
      text-decoration: none; }
      nav li a:hover {
        border-bottom: 3px solid #80bbd9; }
  nav button {
    padding: 15px 20px 15px 20px;
    border: 1px solid #fff;
    outline: none;
    color: #FFF;
    font-size: 1em;
    float: right; }
    nav button:hover {
      cursor: pointer; }

.show-nav {
  display: block; }

.logo {
  margin-left: 20px;
  float: left;
  background-color: #787878;
  width: 50px;
  height: 50px; }

.welcome {
  clear: both;
  width: 50%;
  min-height: 100px;
  min-width: 100px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.54);
  display: none; }
  .welcome p {
    font-size: 1em;
    font-family: "Helvetica Neue"; }

.alt-welcome {
  width: 100%;
  min-height: 200px;
  padding: 20px;
  background-color: #80bbd9; }
  .alt-welcome p {
    width: 90%;
    max-width: 500px;
    font-family: "Helvetica Neue";
    margin: 0 auto; }

.work {
  max-height: 400px;
  width: 100%; }
  .work div {
    box-sizing: border-box;
    width: 100%;
    float: left; }
    .work div a:hover {
      background-color: darken; }
  .work a {
    width: 100%;
    max-height: 200px; }
  .work .project1 {
    background-image: url("../images/checklist.png");
    background-size: cover; }
  .work .project2 {
    background-image: url("../images/styleguide.png");
    background-size: cover; }
  .work .project3 {
    background-image: url("../images/dentist.png");
    background-size: cover; }
  .work .project4 {
    background-image: url("../images/portfolio.png");
    background-size: cover; }
  .work #overlay {
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 45px 0 66px 0;
    opacity: 1;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease; }
    .work #overlay span {
      font-size: 2em;
      font-family: "Helvetica Neue";
      position: relative;
      top: 10px;
      color: white; }
  .work div:hover #overlay {
    opacity: 0; }

.skills {
  min-height: 600px;
  background-color: #80bbd9;
  clear: both;
  padding-top: 30px;
  padding-bottom: 30px; }
  .skills h1 {
    text-align: center;
    margin-bottom: 20px; }

.skillset-left, .skillset-right {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px; }
  .skillset-left li, .skillset-right li {
    font-family: "Helvetica Neue";
    font-weight: 200; }
  .skillset-left .icon, .skillset-right .icon {
    margin: 0 auto;
    height: 200px;
    max-width: 200px;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 50%;
    -webkit-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 30px 0px rgba(50, 50, 50, 0.75); }

.skillset-left p {
  font-family: "jaf-mashine-rounded";
  padding-top: 65px;
  font-size: 45px; }

.skillset-right p {
  font-family: "elina-web-decor";
  padding-top: 55px;
  font-size: 50px; }

.journal {
  padding-top: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px; }
  .journal h1 {
    text-align: center;
    margin-bottom: 30px; }
  .journal h3 {
    margin-bottom: 10px; }
  .journal div {
    margin-bottom: 20px; }

.connect-bg {
  clear: both;
  width: 100%;
  background-color: #80bbd9;
  padding-bottom: 50px; }

.connect {
  width: 80%;
  margin: 0 auto;
  min-height: 400px; }
  .connect h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 40px; }
  .connect .side-proj1, .connect .side-proj2, .connect .side-proj3 {
    width: 90%;
    max-width: 300px;
    min-height: 200px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .connect p {
    clear: both;
    font-weight: 200;
    text-align: center; }

footer {
  width: 100%;
  background-color: #095175;
  min-height: 300px; }
  footer .main-footer {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px; }
    footer .main-footer img {
      float: left; }
    footer .main-footer .fun-section ul {
      float: left;
      padding-left: 100px; }
    footer .main-footer .icons ul {
      float: right;
      padding-right: 20px;
      padding-top: 20px; }
      footer .main-footer .icons ul li {
        display: inline-block; }
        footer .main-footer .icons ul li a {
          font-family: "Helvetica Neue";
          color: white; }
          footer .main-footer .icons ul li a:hover {
            color: #d9d9d9; }
          footer .main-footer .icons ul li a img {
            width: 32px;
            height: 32px; }
    footer .main-footer .ig-b- {
      display: inline-block; }
    footer .main-footer .ig-b- img {
      visibility: hidden; }
    footer .main-footer .ig-b-:hover {
      background-position: 0 -60px; }
    footer .main-footer .ig-b-:active {
      background-position: 0 -120px; }
    footer .main-footer .ig-b-24 {
      width: 32px;
      height: 32px;
      background: url(//badges.instagram.com/static/images/ig-badge-sprite-24.png) no-repeat 0 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
      footer .main-footer .ig-b-24 {
        background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-24@2x.png);
        background-size: 60px 178px; } }

.info-left {
  width: 50%;
  height: 800px;
  background-color: #80bbd9;
  float: left;
  padding: 30px; }
  .info-left h1 {
    line-height: 1.5; }
  .info-left p {
    line-height: 2;
    padding: 10px;
    font-family: "Helvetica Neue";
    font-weight: 200; }
  .info-left a {
    text-decoration: none;
    color: black;
    border-bottom: 1px dotted black; }
  .info-left ul {
    padding: 10px; }
    .info-left ul li {
      font-family: "Helvetica Neue";
      font-weight: 200; }

.img-right {
  width: 50%;
  height: 800px;
  background-color: #095175;
  float: right; }
  .img-right img {
    height: 30%;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 3px solid black; }
    .img-right img:hover {
      transform: scale(1.2); }

@media screen and (min-width: 480px) {
  .bg-head {
    min-height: 400px; }

  nav {
    width: 40%;
    min-width: 250px;
    float: right; }
    nav li {
      display: inline-block;
      margin-left: 5%; }
    nav button {
      display: none; }

  .myname span {
    color: black; }

  .logo {
    position: relative;
    top: 30px;
    margin-left: 30px;
    float: left;
    background-color: #787878;
    width: 100px;
    height: 100px; }

  .work div {
    width: 50%;
    min-height: 100px;
    float: left; }
  .work img {
    height: 140px; }
  .work #overlay {
    width: 100%; }

  .skills h1 {
    margin-bottom: 40px; }
  .skills .skillset-left, .skills .skillset-right {
    width: 50%;
    float: left;
    margin: 0 auto; }

  .post1 {
    width: 45%;
    float: left; }

  .post2 {
    width: 45%;
    float: right; }

  .post3 {
    display: none; }

  .connect .side-proj1 {
    width: 40%;
    float: left; }
  .connect .side-proj2 {
    width: 40%;
    float: right; }
  .connect .side-proj3 {
    clear: both;
    width: 100%;
    max-width: 700px; } }
@media screen and (min-width: 980px) {
  .logo {
    width: 200px;
    height: 100px; }

  .bg-head {
    min-height: 500px; }

  .work div {
    min-height: 200px; }

  .main-footer {
    max-width: 70%; }

  .welcome {
    display: block; }

  .alt-welcome {
    display: none; }

  .work img {
    height: 200px; }

  .post1 {
    width: 30%;
    float: left;
    margin-right: 3.3333%; }

  .post2 {
    width: 30%;
    float: left;
    margin-right: 3.3333%; }

  .post3 {
    display: block;
    width: 30%;
    float: left;
    margin-right: 3.3333%; }

  .connect .side-proj1 {
    width: 30%;
    float: left;
    margin-right: 5%;
    max-width: 500px; }
  .connect .side-proj2 {
    width: 30%;
    float: left;
    margin-right: 5%;
    max-width: 500px; }
  .connect .side-proj3 {
    clear: none;
    width: 30%;
    float: left;
    margin-right: 0;
    max-width: 500px; } }

/*# sourceMappingURL=main.css.map */
